*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
body{
   width: 100vw;
   height: 100vh;
   position: relative;
margin: 0;
background: radial-gradient( #ECECEC, #C2C2BE ,#A4A39C) ;

}
.container{
 position: fixed;
width: 100vw;
height: 100vh;
   
}
header{
   background: #101010;
   width: 100%;
   height: 100px;
   color: white;
font-family: sans-serif;
font-size: 4rem;
 padding: 0 0 0 50px; 
 margin: 0;
 background-attachment: fixed ;
}
 .img_bg img {
   width: 100px;
   height: 130px;
   
   
}
.img_bg{
   position: fixed;
   display: flex;
justify-content: flex-end;
align-items: flex-end;
right: 30px;
bottom: 100px;
gap: 5px;

}
.img_bg :hover{
   box-shadow: 5px 5px 15px black;
   transform: skew(0,4);
   opacity: 0.7;
}
.quotes{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 80px;
  margin: 500px 0 0 40px; 
 text-shadow:  5px 5px 15px white,
 -5px -5px 25px #A4A39C; 
 transition: 0.5s;
}
.highlight{
   display: block;
   margin: 70px 0 0 380px;
   font-size: 50px;
   color: #C00808;
}
